* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}

:root {
  --background: tansparent;
  --text: #111827;
}

.header-logo {
  position: fixed;
  right: 0.7em;
  top: 0.4em;
  z-index: 2;
}

.header-logo a svg {
  fill: var(--text);
  height: 33px;
  width: 166px;
  padding: 0;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.content {
  position: fixed;
  left: 0.7em;
  top: 0.5em;
  z-index: 2;
}

.content span {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -.022em;
  color: var(--text);
}

.slide.current {
  opacity: 1;
}

.slide:first-child {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/TB_01.jpg') no-repeat center top/cover;
}
.slide:nth-child(2) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/1080_02.png') no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/TD_03.png') no-repeat center top/cover;
}
.slide:nth-child(4) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/247_01.jpg') no-repeat center top/cover;
}
.slide:nth-child(5) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/TR_01.png') no-repeat center top/cover;
}
.slide:nth-child(6) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/TK_03.jpg') no-repeat center top/cover;
}
.slide:nth-child(7) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/WR_02.jpg') no-repeat center top/cover;
}
.slide:nth-child(8) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/FME_02.jpg') no-repeat center top/cover;
}
.slide:nth-child(9) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/NC_02.png') no-repeat center top/cover;
}
.slide:nth-child(10) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/KB_01.png') no-repeat center top/cover;
}
.slide:nth-child(11) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/1080_01.png') no-repeat center top/cover;
}
.slide:nth-child(12) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/HV_02.jpg') no-repeat center top/cover;
}
.slide:nth-child(13) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/ASW_03.jpg') no-repeat center top/cover;
}
.slide:nth-child(14) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/HV_05.jpg') no-repeat center top/cover;
}
.slide:nth-child(15) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/PS_04.jpg') no-repeat center top/cover;
}
.slide:nth-child(16) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/GZ_01.jpg') no-repeat center top/cover;
}
.slide:nth-child(17) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/PK_06.jpg') no-repeat center top/cover;
}
.slide:nth-child(18) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/HV_04.jpg') no-repeat center top/cover;
}
.slide:nth-child(19) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/1080_03.png') no-repeat center top/cover;
}
.slide:nth-child(20) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/TD_01.png') no-repeat center top/cover;
}
.slide:nth-child(21) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/247_03.jpg') no-repeat center top/cover;
}
.slide:nth-child(22) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/TR_04.png') no-repeat center top/cover;
}
.slide:nth-child(23) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/TK_01.jpg') no-repeat center top/cover;
}
.slide:nth-child(24) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/WR_01.jpg') no-repeat center top/cover;
}
.slide:nth-child(25) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/FME_01.jpg') no-repeat center top/cover;
}
.slide:nth-child(26) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/NC_01.png') no-repeat center top/cover;
}
.slide:nth-child(27) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/KB_02.png') no-repeat center top/cover;
}
.slide:nth-child(28) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/PK_03.jpg') no-repeat center top/cover;
}
.slide:nth-child(29) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/HV_01.png') no-repeat center top/cover;
}
.slide:nth-child(30) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/ASW_01.jpg') no-repeat center top/cover;
}
.slide:nth-child(31) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/PS_02.jpg') no-repeat center top/cover;
}
.slide:nth-child(32) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/247_02.jpg') no-repeat center top/cover;
}
.slide:nth-child(33) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/TK_04.jpg') no-repeat center top/cover;
}
.slide:nth-child(34) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/HV_03.jpg') no-repeat center top/cover;
}
.slide:nth-child(35) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/PK_01.jpg') no-repeat center top/cover;
}
.slide:nth-child(36) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/MOM_02.png') no-repeat center top/cover;
}
.slide:nth-child(37) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/TD_02.png') no-repeat center top/cover;
}
.slide:nth-child(38) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/PS_01.jpg') no-repeat center top/cover;
}
.slide:nth-child(39) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/FME_03.jpg') no-repeat center top/cover;
}
.slide:nth-child(40) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/KB_03.png') no-repeat center top/cover;
}
.slide:nth-child(41) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/ASW_04.jpg') no-repeat center top/cover;
}
.slide:nth-child(42) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/PK_05.jpg') no-repeat center top/cover;
}
.slide:nth-child(43) {
  background: url('https://raw.githubusercontent.com/SYNHMN/INDEX/main/images/TD_04.png') no-repeat center top/cover;
}


