/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}

/* Variables */

:root {
  --sfpt: SFPT;

  --global-font: var(--sfpt);
  
  --background: #1c1c1e;
  --text: #f5f5f7;
}

[theme="dark"] {
  --background: #f2f2f2;
  --text: #1d1d1f;
}

/* Font */

@font-face {
  font-family: SFPT;
  src: url(https://github.com/SYNHMN/synhmn.github.io/blob/main/font/SF-Pro-Text-Regular.otf?raw=true);
}

/* GRID */

.container {
  display: grid;

  grid-template-columns: 0.7em 1fr 0.7em;
  grid-template-rows: 0.7em 44px 0.7em auto 0.7em;

  height: 100vh;

  grid-template-areas:
  ". . ."
  ". header ."
  ". . ."
  ". main ."
  ". . .";
}

.header {
  display: grid;
  grid-area: header;

  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 44px;
  grid-gap: 0.7em;

  grid-template-areas:
  "th lg";
}

.main {
  display: grid;
  grid-area: main;
  overflow-y: scroll;
}


/* Modules */

.theme{
  grid-area: th;
  align-self: center;
  justify-self: start;
}

.logo {
  grid-area: lg;
  align-self: center;
  justify-self: end;
}

.logo a svg {
  fill: var(--text);
  height: 33px;
  width: 177px;
  padding: 0;
}


/* Portfolio */

.portfolio {
  display: grid;
  grid-gap: 0.7em;
  grid-template-columns: repeat(auto-fit, minmax(222px, auto));
}

.portfolio img {
  border: transparent;
  border-radius: 14px;
  width: 100%;
}


/* Theme */

.chb_theme + label::before,
.chb_theme + label:hover::before,
.chb_theme:checked + label::before,
.chb_theme:checked + label:hover::before {
	font-family: var(--sfpt);
  font-size: 1.7rem;
  font-weight: 400;
  cursor: crosshair;
  content: "ô€†º";
	transition: .2s;
}

.chb_theme + label::before {color: #ffc555;}
.chb_theme + label:hover::before {color: #ffc555;}
.chb_theme:checked + label::before {color: #625cc0;}
.chb_theme:checked + label:hover::before {color: #625cc0;}


input[type="checkbox"] {display: none;}