/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}


/* Variables */

:root {
  --sfpt: SFPT;

  --global-font: var(--sfpt);
  
  --background: #1d1d1f;
  --header: rgba(29, 29, 31, 0.7);
  --text: #f5f5f7;

  --mail: #f6323d;
  --shop: #3299fc;
}

[theme="dark"] {
  --background: #ffffff;
  --header: rgba(255, 255, 255, 0.7);
  --text: #1d1d1f;

  --mail: #b9262e;
  --shop: #1069c9;
}


/* Font */

@font-face {
  font-family: SFPT;
  src: url(https://github.com/SYNHMN/synhmn.github.io/blob/main/font/SF-Pro-Text-Regular.otf?raw=true);
}


/* Text */

h1 {
  font-family: var(--sfpt);
  font-size: 1.7rem;
  font-weight: 400;
}


/* Links */

a.one:link {color: var(--mail); text-decoration: none; cursor: crosshair; font-weight: normal;}
a.one:visited {color: var(--mail); text-decoration: none; cursor: crosshair; font-weight: normal;}
a.one:hover {color: var(--mail); text-decoration: none; cursor: crosshair; font-weight: normal;}
a.one:active {color: var(--mail); text-decoration: none; cursor: crosshair; font-weight: normal;}

a.two:link {color: var(--shop); text-decoration: none; cursor: crosshair; font-weight: normal;}
a.two:visited {color: var(--shop); text-decoration: none; cursor: crosshair; font-weight: normal;}
a.two:hover {color: var(--shop); text-decoration: none; cursor: crosshair; font-weight: normal;}
a.two:active {color: var(--shop); text-decoration: none; cursor: crosshair; font-weight: normal;}


/* GRID */

.container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 52px auto;

  height: 100vh;

  grid-template-areas:
  "header"
  "main";
}

.header {
  display: grid;
  grid-area: header;

  grid-template-columns: 35.2px 24px 1fr;
  grid-auto-rows: 52px;
  grid-gap: 0.7em;

  background: var(--header);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);

  width: 100vw;
  position: fixed;

  grid-template-areas:
  "th ml lg";
}

.main {
  display: grid;
  grid-area: main;

  grid-template-columns: 0.7em 1fr 0.7em;
  grid-template-rows: 1fr 0.7em;
}


/* Modules */

.theme{
  grid-area: th;
  align-self: center;
  justify-self: start;
  padding: 0 0 0 0.7em;
}

.mail{
  grid-area: ml;
  align-self: center;
  justify-self: start;
}

.logo {
  grid-area: lg;
  align-self: center;
  justify-self: end;
}

.logo a svg {
  fill: var(--text);
  height: 48px;
  width: 181px;
  padding: 0 0.7em 0 0;
}


/* Portfolio */

.portfolio {
  display: grid;
  grid-gap: 0.7em;

  grid-template-columns: repeat(auto-fit, minmax(222px, auto));
  
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.portfolio img {
  box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
  border: transparent;
  border-radius: 14px;
  width: 100%;
}


/* Theme */

.chb_theme + label::before,
.chb_theme + label:hover::before,
.chb_theme:checked + label::before,
.chb_theme:checked + label:hover::before {
	font-family: var(--sfpt);
  font-size: 1.7rem;
  font-weight: 400;
  cursor: crosshair;
  content: "ô€†º";
	transition: .2s;
}

.chb_theme + label::before {color: #ffc555;}
.chb_theme + label:hover::before {color: #ffc555;}
.chb_theme:checked + label::before {color: #625cc0;}
.chb_theme:checked + label:hover::before {color: #625cc0;}


input[type="checkbox"] {display: none;}